
/* ///////////////// */

@media all and (max-width: 992px) {

.container {
	max-width: 767px;
}

.logo {
    text-align: center;
    margin: 0 0 30px;
}

}



@media all and ( max-width: 768px ) {

.container {
	max-width: 480px;
}
    
.menu a {
    font-size: 12px;
}

.menu li:last-child {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 40px;
}

.hero-content p {
    font-size: 16px;
}

a.button {
    padding: 8px 30px;
    font-size: 12px;
}

.univercity-img img {
    flex: 0 0 50%;
    max-width: 37%;
    margin: 0 0 20px;
}

.heading p {
    font-size: 14px;
}

.heading {
    margin-bottom: 50px;
}

.single-news, 
.single-event,
.country {
    margin: 0 0 30px;
}

section.dream-area a {
    float: none;
    margin: 20px 0 0 0;
}

section.dream-area {
    text-align: center;
}

.single-footer {
    margin: 0 0 30px;
}

}